In [1]:
known_person = {
    "first_name" : "Bilal",
    "last_name" : "Ali",
    "age" : 20,
    "city" : "Karachi",
}
print("first name : " + known_person["first_name"])
print("last name : " + known_person["last_name"])
print("age : " + str(known_person["age"]))
print("city : " + known_person["city"])

first name : Bilal
last name : Ali
age : 20
city : Karachi

In [2]:
known_person = {
    "first_name" : "Bilal",
    "last_name" : "Ali",
    "age" : 20,
    "city" : "Karachi",
}
known_person["qualification"] = "Matric"
known_person["qualification"] = "High Academic Level"
print(known_person)

{'first_name': 'Bilal', 'last_name': 'Ali', 'age': 20, 'city': 'Karachi', 'qualification': 'High Academic Level'}

In [3]:
known_person = {
    "first_name" : "Bilal",
    "last_name" : "Ali",
    "age" : 20,
    "city" : "Karachi",
}
known_person["qualification"] = "Matric"
known_person["qualification"] = "High Academic Level"
del known_person["qualification"]
print(known_person)

{'first_name': 'Bilal', 'last_name': 'Ali', 'age': 20, 'city': 'Karachi'}

# Q2

In [4]:
cities = {
    "Karachi" : {
        "country" : "Pakistan",
        "Population" : "14.91 million",
        "Fact" : "karachi is the very first capital of the country, known as the City of Lights for ages.",
    },
    
    "Lahore" : {
        "country" : "Pakistan",
        "Population" : "11.13 million",
        "Fact" : "Lahore is the country's second-most populous city after Karachi.",
    },
    
    "Tokyo" : {
        "country" : "Japan",
        "Population" : "9.273 million",
        "Fact" : "Tokyo Skytree was announced as the tallest tower in the world in 2010.",
    },
}

print("city name : Karachi ")
print("country : " + cities["Karachi"]["country"])
print("Population : " + cities["Karachi"]["Population"])
print("Fact : " + cities["Karachi"]["Fact"])
print()
print("city name : Lahore ")
print("country : " + cities["Lahore"]["country"])
print("Population : " + cities["Lahore"]["Population"])
print("Fact : " + cities["Lahore"]["Fact"])
print()
print("city name : Tokyo ")
print("country : " + cities["Tokyo"]["country"])
print("Population : " + cities["Tokyo"]["Population"])
print("Fact : " + cities["Tokyo"]["Fact"])

city name : Karachi
country : Pakistan
Population : 14.91 million
Fact : karachi is the very first capital of the country, known as the City of Lights for ages.

city name : Lahore
country : Pakistan
Population : 11.13 million
Fact : Lahore is the country's second-most populous city after Karachi.

city name : Tokyo
country : Japan
Population : 9.273 million
Fact : Tokyo Skytree was announced as the tallest tower in the world in 2010.

# Q3

In [ ]:
print("Movie theater charges different ticket prices depending on a person’s age")

for i in range(5):
    age = int(input("Enter your age: "))
    
    if age < 3:
        print("Your ticket is free")
        
    elif age > 3 and age < 12:
        print("Your ticket costs $10")
        
    else:
        print("Your ticket costs $15")

Movie theater charges different ticket prices depending on a person’s age
Enter your age: 18
Your ticket costs $15
Enter your age: 21
Your ticket costs $15
Enter your age: 27
Your ticket costs $15

# Q4

In [ ]:
def favorite_book(title):
    print("One of my favorite books is " + title + ".")


favorite_book('Alice in Wonderland')

# Q5

In [ ]:
import random
guessesTaken = 0
print('Hello! What is your name?')
myName = input()
number = random.randint(1, 20)
print('Well, ' + myName + ', I am thinking of a number between 1 and 20.')
while guessesTaken < 6:
    print('Take a guess.') # There are four spaces in front of print.
    guess = input()
    guess = int(guess)
    guessesTaken = guessesTaken + 1
    if guess < number:
        print('Your guess is too low.') # There are eight spaces in front of print.
        if guess > number:
            print('Your guess is too high.')
            if guess == number:
                break
                if guess == number:
                    guessesTaken = str(guessesTaken)
                    print('Good job, ' + myName + '! You guessed my number in ' + guessesTaken + ' guesses!')
                    if guess != number:
                        number = str(number)
                        print('Nope. The number I was thinking of was ' + number)